<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @store.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @store.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @store.zip %>
</p>
<p>
	<%= @store.id%>
<ul>
	<%=render  @store.collections %>
</ul>	
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
