<!DOCTYPE html>
<html>
<head>
  <title>Gotham Jewelry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= "id=#{@body_id}" if@body_id%>>
<div id="wrapper">
	<div class="header">
		<h1><%= link_to "Gotham Jewelry", root_path%>
	</div>
	<%= yield %>
</div>
</body>
</html>
